body{
  background-color: black;
}

.wrapper{
  height: 80vh;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: space-evenly;
}

.container-button{
  width: 100%;
  display:flex;
  justify-content: center;
}

.btn{
  padding:5% 20%;
  font-size:40px;
  color:white;
  border-radius:8px;
  letter-spacing: 4px;
  cursor: pointer;
}

.btn-1{
  background-color: transparent;
  border:1px solid #FF3562;
  position:relative;
  overflow: hidden;
}

.btn-1::before{
  content:"";
  z-index:-1;
  width: 150%;
  height: 150%;
  position:absolute;
  background: linear-gradient(90deg, rgba(105,54,104,1) 0%, rgba(248,74,167,1) 50%, rgba(167,68,130,1) 100%);
  top:-100%;
  left:-145%;
  border-radius:50%;
  transition:top 0.8s, left 0.8s ;
}

.btn-1:hover::before{
  top:-20%;
  left:-20%;
}

/* BOTON DOS */

.btn-2{
  background-color: transparent;
  border:1px solid #363636;
  color:#363636;
}

.btn-2{
  animation: parpadeo_neon 2s infinite both;
}

@keyframes parpadeo_neon{

  0%{
    border:1px solid #363636;
    color:#363636; 
    box-shadow:0;
    text-shadow:0;
  }
  

  20%{
    border:1px solid #FF3562;
    color:#F3562F;
    text-shadow:0px 0px 6px #FF3562;
    box-shadow:0px 0px 9px #FF3562;
  }

  40%{
    border:1px solid #363636;
    color:#363636;
    box-shadow:0;
    text-shadow:0;
  }

  60%{
    border:1px solid #FF3562;
    color:#F3562F;
    text-shadow:0px 0px 6px #FF3562;
    box-shadow:0px 0px 9px #FF3562;
  }

  80%{
    border:1px solid #363636;
    color:#363636;
    box-shadow:0;
    text-shadow:0;
  }

  100%{
    border:1px solid #FF3562;
    color:#FF3562;
    text-shadow:0px 0px 6px #FF3562;
    box-shadow:0px 0px 9px #FF3562;
  }

}

@media screen and (max-width:700px){

  .wrapper{
    flex-direction:column;
  }

  .btn{
    width: 30%;
    margin: auto;
    display:flex;
    justify-content: center;
  }
  

}